<% content_for :body_class, "article-show" %>
<div class="article-wrapper">
  
  <% if @article.main_blog_img.exists? %>
    <%= image_tag @article.main_blog_img.url(:big) %>
  <% end %>
  <%= image_tag @article.main_blog_img.url(:big) %>
  
  <h1>
    <%= @article.title %>
  </h1>
  <div class="article-body">
    <%= @article.text.html_safe %>
  </div>
</div>
