<header  role='site-nav'>
  <a href="" class="header-logo"></a>
  
  <nav>  
    <ul class="clearfix">
      <li><a href="" >Home</a></li>
      <li><a href='about'>About</a></li>
      <li><a href="hr">HR</a></li>
      <li><a href="law">Law</a></li>
      <li><a href="finance">Finance</a></li>
    </ul>
  </nav>
</header>

<!-- mobile logo -->
<a href="" class="header-logo-mobile"></a>

<!-- hamburger icon -->
<section class="si-icons si-icons-default">
	<span class="si-icon si-icon-hamburger-cross hamburger" data-icon-name="hamburgerCross"></span>
</section>