// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.article-show {
  width:620px;
  h1 {
    font-size:40px;
  }
  .article-body {
  }
}

body.articles-home {
  background-color:#113751;
  color:white;
  img {
    position: absolute;
    top: 33px;
    left: 30px;
  }
  a {
    color:white;
  }
  header {
    height:120px;
    position:relative;
    h1 {
      font-size:41px;
      letter-spacing:2px;
      position:absolute;
      left:0;
      bottom:8px;      
    }
    > a {
      position:absolute;
      right:0;
      bottom:20px;
      text-transform:uppercase;
      letter-spacing:2px;
      background: #415f74;
      padding: 18px 36px;
      font-size:13px;
    }    
  }
}

section[role="articles-list"] {
  background-color:#ffffff;
  color:#444;
  padding:40px 46px;
  min-height:420px;
  > ul {
    text-transform:uppercase;
    letter-spacing:1px;
    font-size:11px;
    font-weight:bold;
    margin-bottom:2em;
    li {
      padding:10px;
      display:inline-block;
      margin-left:-5px;
      border-bottom:1px solid #a0afb9;
      &:first-child {
        width: 18%;
        margin-left: 0;
        margin-right: 2%;
      }
      &:nth-child(2) {
        width:58%;
        margin-right: 2%;
      }
      &:nth-child(3) {
        width:20%;
      }
    }
  }
  text-align:left;
  article > span {
    font-size:13px;
    padding:10px;
    display:inline-block;
    vertical-align:top;
    margin-left:-5px;
    &:first-child {
      width: 20%;
      margin-left:0;
      font-size:18px;
    }
    &:nth-child(2) {
      width:60%;
    }
    &:nth-child(3) {
      width:20%;
    }
    > a {
      color:#0071c1;
      padding-left:8px;
      font-size:16px;
      &:first-child {
        padding-left:0;
      }
    }
  }
}